.chat_main
	
	.chat_main__header
		.chat_main__header__boxleft
			.chat_main__header__boxleft__group
				= @group.name
			%ul.chat_main__header__boxleft__member
				member:
				%li.member
					- @group.group_users.each do |group_user|
						= group_user.user.name
		.chat_main__header__boxright__btn
			= link_to edit_group_path(@group.id), class: "chat_main__header__boxright__btn-link" do
				Edit
	.chat_main_contents
		= render @messages

	
	.chat_main__form
		= form_for [@group, @message] do |f|
			= f.text_field :content, class: 'chat_main__form__text', placeholder: 'type a message'
			= f.label :image, class: 'chat_main__form__image' do
				= icon('fas', 'image', class: 'input-box__image')
				= f.file_field :image, class: 'type-file'
			= f.submit 'Send', class: 'chat_main__form__btn'